<div *ngIf="showInput" class="input-container">
  <input type="text" #urlInput placeholder="Enter URL to shorten" class="input-field">
  <button (click)="addShortUrl(urlInput.value)" class="submit-button">Submit</button>
</div>
<table>
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shortUrl of shortUrls">
      <td >
        <input type="hidden" [value]="shortUrl.id">
        <a (click)="goToUrlDetails(shortUrl.id)">{{ shortUrl.originalUrl }}</a>
      </td>
      <td (click)="goToUrlDetails(shortUrl.id)">
        {{ shortUrl.shortenedUrl }}
      </td>
      <td>
        <button *ngIf="shortUrl.canBeDeleted" (click)="deleteShortUrl(shortUrl.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
